/*
Colors used:
Primary Color (White): #FFFFFF;
Secondary Color (Black): #000000;
Accent Color (Tan): #B07E09;
*/
body {
    background-color:#ffffff;
    font-family: 'open+sans', sans-serif;
    font-size: 16px; 
    font-weight: 500; 
    line-height: 1.6; 
    color: #000000;
  }

  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 600;
  }
  
  h2 {
    font-size: 2.00em;
    font-weight: 600;
  }
  
  h3 {
    font-size: 1.35em;
    font-weight: 600;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }
  img {
    width: 100%;
  }
  a {
    color: #000000;
    text-decoration: none; 
  }
  a:hover {
    color: #B07E09;
    text-decoration: underline; 
  }
  a:visited { 
    color: #000000;
  }
  a:active { 
    color: #994c30;
  }
  a:hover,
a:focus {
  color: #B07E09;
  text-decoration: underline;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #B07E09;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 700;
  padding: 10px;
  border: 2px ;
  border-radius: 3px;
  border-bottom: 2px ; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button:visited { 
  color: #000000;
}
.button:active { 
  color: #ffffff;
}
.button:hover,
.button:focus {
color: #ffffff;
text-decoration: underline;
}
.button.contact {
  background-color: transparent;
  color: #B07E09;
  text-transform: uppercase;
  border: 2px solid #B07E09;
}
.button.contact:hover {
  background-color: #b07e09;
  color: #ffffff;
}
.button.contact:visited {
  color: #000000;
}
.button.contact:active { 
  color: #b07e09;
}
.button.contact:hover,
.button.contact:focus {
color: #ffffff;
text-decoration: underline;
}
